# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle (if used)
.gradle
build/

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Spring Boot
application-local.yml
application-dev.yml

# Environment
.env

# Java
*.class

# Node (if you add UI later)
node_modules/

# Docker
*.pid
